@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5;
}

.bold {
  @apply font-bold leading-[1];
}

.container {
  position: relative;
  z-index: 2;
}

.section {
  position: relative;
  background-size: cover;
  background-position-x: 20%;
  background-repeat: no-repeat;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(2, 15, 8, 0.5);
    z-index: 1;
  }
}
.hero {
  background-image: url(../../public/images/hero/hero-bg.png);
}
.about {
  background-image: url(../../public/images/about/about-bg.png);
}
.slide01 {
  background-position-x: 80%;
  background-image: url(../../public/images/services/serv-bg-1.png);
}
.slide02 {
  background-position-x: 55%;
  background-image: url(../../public/images/services/serv-bg-2.png);
}
.slide03 {
  background-position-x: 100%;
  background-image: url(../../public/images/services/serv-bg-3.png);
}
.slide04 {
  background-position-x: 80%;
  background-image: url(../../public/images/services/serv-bg-4.png);
}
.slide05 {
  background-position-x: 80%;
  background-image: url(../../public/images/services/serv-bg-5.png);
}
.career {
  background-position-x: 50%;
  background-image: url(../../public/images/career/career-bg.png);
}

.section-title {
  @apply uppercase font-medium text-[40px] leading-[1.4] -tracking-[1.6px] md:text-[67px] md:-tracking-[2.68px] md:leading-[1.17] xl:text-[98px] xl:-tracking-[3.92px] xl:leading-[1.22];
}
.section-text {
  @apply font-extralight leading-[1.4] md:text-base md:leading-[1.25] xl:text-lg xl:leading-[1.33];
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.75);

    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in;

    z-index: 2;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }
  body.is-open {
    overflow: hidden;
  }
  .nav {
    @apply inline-flex flex-col gap-12 text-lg tracking-[0.1125rem] md:flex-row md:gap-6 md:text-sm md:items-center xl:gap-14;
  }
}

.btn-join {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767.98px) {
      background-image: url(../../public/images/button/btn-frame-m.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
      background-image: url(../../public/images/button/btn-frame-t.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../../public/images/button/btn-frame-d.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &::after {
    transform: rotate(180deg);
  }
}

.current-item {
  position: relative;
  color: #fff;
  font-weight: 500;
  padding-left: 16px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg) translate(50%, 50%);
    width: 6px;
    height: 6px;
    background-color: #fff;
  }
}

.whyUs-item {
  @apply space-y-2;
}
.whyUs-subtitle {
  @apply font-normal text-[14px] leading-[1.43];
}
.whyUs-text {
  @apply font-extralight text-[12px] leading-[1.67];
}
.form {
	@apply p-6 space-y-6 font-extralight;
	& .error {
		@apply text-red-600;
	}
}
.label {
  @apply block text-[12px] tracking-[2.4px] leading-[2];
}
.input {
  @apply bg-white/5 font-[13px] leading-[1.85] px-2 w-full outline-none;
	&.phone {
		@apply pl-11;
	}
}
.error-text {
	@apply absolute ease-in right-0 -bottom-[24px];
}

.agreement {
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in;
  & .agreement-text::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
		left: 0;
		top: 0;
    border: 1px solid #fff;
    padding: 3px;
  }
		.agreement-text::after {
			content: '';
			position: absolute;
			width: 14px;
			height: 14px;
			left: 4px;
			top: 4px;
			background-color: rgba(255, 255, 255, 0.1);
			padding: 3px;
		}
}

.checkbox:checked+.agreement-text::after {
	background-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
