@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 1.5;
}

.bold {
  @apply font-bold leading-[1];
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.75);

    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease-in;

    z-index: 2;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  .nav {
    @apply inline-flex flex-col gap-12 text-lg tracking-[0.1125rem] md:flex-row md:gap-6 md:text-sm md:items-center xl:gap-14;
  }
}

.btn-join {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767.98px) {
      background-image: url(../../public/images/button/btn-frame-m.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
      background-image: url(../../public/images/button/btn-frame-t.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../../public/images/button/btn-frame-d.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &::after {
    transform: rotate(180deg);
  }
}

section {
  background-color: rgba(2, 15, 8, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(2, 15, 8, 0.5);
    z-index: 1;
  }
}

.hero {
  background-image: url(../../public/images/hero/hero-bg.png);
}
